h2 {
	font-family: 'Great Vibes',cursive;
	font-size: 30px;
}

.ui-progressbar {
   	position: relative;
}
.progress-label {
   	position: absolute;
   	left: 50%;
   	top: 4px;
   	font-weight: bold;
   	text-shadow: 1px 1px 0 #fff;
}

body.home div {

}

div.home { 
	border: 1px solid black;
	padding-left: 10px; 
	padding-right: 10px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 2px 2px;
}

@media (orientation: landscape){
	div.home { float: left; margin-left: 10px; margin-right: 10px;}
}

@media (orientation: portrait) {
	div.home { float: none; margin-left: 50%; margin-right: 50%; }
}