h2 {
	font-family: 'Great Vibes',cursive;
	font-size: 30px;
}

.ui-progressbar {
   	position: relative;
}
.progress-label {
   	position: absolute;
   	left: 50%;
   	top: 4px;
   	font-weight: bold;
   	text-shadow: 1px 1px 0 #fff;
}

@media (orientation: landscape){
	div.home { float: left; padding-left: 4px; }
}

@media (orientation: portrait) {
	div.home { float: none; }
}